.board-square {
    width: 12.5vmin;
    height: 12.5vmin;
    text-align: center;
    vertical-align: middle;
    background-color: #ff00e5;
    display: table-cell;
    left: 0;
    top: 0;
    font-size: 0;
}